.book {
  background-color: #85aa9f; /* Твій фірмовий колір */
  border-radius: 0.25em;
  box-shadow:
    0 0.25em 0.5em hsla(0, 0%, 0%, 0.3),
    0 0 0 0.25em #85aa9f inset;
  padding: 0.25em;
  perspective: 37.5em;
  position: relative;
  width: 8em;
  height: 6em;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  animation: cover 7s ease-in-out infinite;
}

.book__pg-shadow,
.book__pg {
  position: absolute;
  left: 0.25em;
  width: calc(50% - 0.25em);
  animation: cover 7s ease-in-out infinite;
}

.book__pg-shadow {
  animation-name: shadow;
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%
  );
  filter: blur(0.25em);
  top: calc(100% - 0.25em);
  height: 3.75em;
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

.book__pg {
  animation-name: pg1;
  background-color: #ffffff;
  background-image: linear-gradient(
    90deg,
    hsla(223, 10%, 90%, 0) 87.5%,
    hsl(223, 10%, 90%)
  );
  height: calc(100% - 0.5em);
  transform-origin: 100% 50%;
}

.book__pg--2,
.book__pg--3,
.book__pg--4 {
  background-image:
    repeating-linear-gradient(
      #121417 0 0.125em,
      hsla(223, 10%, 10%, 0) 0.125em 0.5em
    ),
    linear-gradient(90deg, hsla(223, 10%, 90%, 0) 87.5%, hsl(223, 10%, 90%));
  background-repeat: no-repeat;
  background-position: center;
  background-size:
    2.5em 4.125em,
    100% 100%;
}

.book__pg--2 {
  animation-name: pg2;
}
.book__pg--3 {
  animation-name: pg3;
}
.book__pg--4 {
  animation-name: pg4;
}
.book__pg--5 {
  animation-name: pg5;
}

/* Анімації */
@keyframes cover {
  from,
  5%,
  45%,
  55%,
  95%,
  to {
    background-color: #85aa9f;
  }
  10%,
  40%,
  60%,
  90% {
    background-color: #6a8a81;
  }
}

@keyframes shadow {
  from,
  10.01%,
  20.01%,
  30.01%,
  40.01% {
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    transform: translate3d(0, 0, 1px) scaleY(0.2) rotateY(90deg);
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  to {
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
  }
}

@keyframes pg1 {
  from,
  to {
    transform: translate3d(0, 0, 1px) rotateY(0.4deg);
  }
  10%,
  15%,
  85%,
  90% {
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }
}

@keyframes pg2 {
  from,
  to,
  90%,
  95% {
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }
  20%,
  25%,
  75%,
  80% {
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }
}

@keyframes pg3 {
  from,
  10%,
  90%,
  to,
  80%,
  85% {
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }
  30%,
  35%,
  65%,
  70% {
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }
}

@keyframes pg4 {
  from,
  20%,
  80%,
  to,
  70%,
  75% {
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }
  40%,
  45%,
  55%,
  60% {
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }
}

@keyframes pg5 {
  from,
  30%,
  70%,
  to,
  60%,
  65% {
    transform: translate3d(0, 0, 1px) rotateY(0);
  }
  50% {
    transform: translate3d(0, 0, 1px) rotateY(179.6deg);
  }
}
