@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #85aa9f;
  --brand-black: #121417;
  --brand-gray: rgba(18, 20, 23, 0.1);
}

body {
  color: var(--brand-black);
  background-color: #f8f8f8;
  font-family: "SF Pro Display", sans-serif;
}

input {
  outline: none;
}
