:root {
  --brand-green: #85aa9f;
  --brand-black: #121417;
  --brand-gray: rgba(18, 20, 23, 0.1);
  --brand-light: #f8f8f8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--brand-black);
  background-color: var(--brand-light);
  font-family: "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
}
input {
  outline: none;
}
